@model IEnumerable<NYCTaxiViewer.Models.TaxiTrip>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VendorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tpep_pickup_datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tpep_dropoff_datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.passenger_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trip_distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pickup_longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pickup_latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatecodeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store_and_fwd_flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dropoff_longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dropoff_latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fare_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.extra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mta_tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tip_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tolls_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.improvement_surcharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VendorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tpep_pickup_datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tpep_dropoff_datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.passenger_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trip_distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickup_longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickup_latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatecodeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.store_and_fwd_flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dropoff_longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dropoff_latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fare_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.extra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mta_tax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tip_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tolls_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.improvement_surcharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
