@model IEnumerable<NYCTaxiViewer.Models.TaxiTrip>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dropOffLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pdropOffLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pickUpLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pickUpLon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dropOffLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdropOffLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickUpLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickUpLon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
